version: '3.8'

services:
  mysqldb:
    image: mysql:5.7
    # restart: always
    env_file: ./.env
    environment:
      - MYSQL_ROOT_PASSWORD=$MYSQLDB_ROOT_PASSWORD
      - MYSQL_DATABASE=$MYSQLDB_DATABASE
    ports:
      - $MYSQLDB_LOCAL_PORT:$MYSQLDB_DOCKER_PORT
    volumes:
      - db:/var/lib/mysql
      # - db-config:/etc/mysql
      # - db-data:/var/lib/mysql
      # - ./db/backup/files/:/data_backup/data
  app:
    depends_on:
      - mysqldb
    build:
      context: .
      dockerfile: ./character-builder/Dockerfile
    image: node-mysql-app
    # restart: always
    env_file: ./.env
    ports:
      - $NODE_LOCAL_PORT:$NODE_DOCKER_PORT
    environment:
      - DB_HOST=mysqldb
      - DB_USER=$MYSQLDB_USER
      - DB_PASSWORD=$MYSQLDB_ROOT_PASSWORD
      - DB_NAME=$MYSQLDB_DATABASE
      - DB_PORT=$MYSQLDB_DOCKER_PORT
    stdin_open: true
    tty: true

volumes:
  db:
  # db-config:
  # db-data:
